<!-- /templates/pageSUBCAT.liquid -->

{% include 'breadcrumbs' %}

<div class="{{ settings.theme_layout_type }}">
  <div class="row">
    <div id="main" role="main" class="col-sm-12 wrap-page">
      <h1>{{ page.title }}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}

      <div class="rte">
        {{ page.content }}
      </div>
      {% if collection.image %}
        <header class="section-header" {% if collection.image %}style="background-image:url('{{ collection.image | img_url: 'master' }}');"{% endif %}>
          <div class="wrap-overlay"></div>
          <div class="{{ settings.theme_layout_type }}">
            <div class="row">
              <div class="col-sm-12 text-center ">        
                <h1 class="section-header__title">Parfums de Marly Collections</h1>
                  {% if collection.description != "" %}
                    <div class="rte rte--header">
                      {{ collection.description }}
                    </div>					
                  {% else %}
                    <span class="line"></span>
                    <p class="line-description">{{ collection.products.count }} products</p>
                  {% endif %}
              </div>
            </div>
          </div>
        </header>
      {% endif %}



      <div class="row">
        <div id="subCollection" role="subCollections" class="col-sm-12">
          {% capture layout_type %}{{ settings.collection_layout_type }}{% endcapture %}
          {% include 'product-list' %}   
        </div>
      </div>
    </div>
  </div>
</div>
