<!-- /templates/page.liquid -->

{% include 'breadcrumbs' %}

<div class="{{ settings.theme_layout_type }}">
  <div class="row">
    <div id="main" role="main" class="col-sm-12 wrap-page">
      <h1>{{ page.title }}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}

      <div class="rte">
        {{ page.content }}
      </div>
      
    </div>
  </div>
</div>
<!-- MODALS -->

{% for product in collection.products %}
  {% include 'product-quick-view' %}
{% endfor %}

<div id="product-zoom" class="modal-zoom" role="dialog" aria-hidden="true">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>

          <button type="button" class="zoom-cmd zoom-next"> <i class="fa fa-angle-right"></i> </button>
          <button type="button" class="zoom-cmd zoom-prev"> <i class="fa fa-angle-left"></i> </button>
          <img src="{{ 'img_load.gif' | asset_url }}" class="zoom-img-load"/>
          <div class="modal-zoom-container">
            <img src="" class="zoom-img img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if settings.layout_type == "2" or settings.layout_type == "3" %}
  <div id="size-chart-modal" class="modal-zoom" role="dialog" aria-hidden="true">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>
          <div class="modal-zoom-container">
            <img src="{{ 'sizechart.jpg' | asset_url }}" class="zoom-img img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% include 'newsletter' %}

<iframe src="/17658667/digital_wallets/dialog" scrolling="no" style="position: fixed; top: 40px; left: 0px; z-index: 99999; height: 0px; width: 0px; border: 0px;"></iframe>


<!-- MODALS -->


{% comment %}
        Below is modal content for Gold Rose
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658494920" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/goldrose_grande.jpeg?v=1486576078" class="img-responsive owl-lazy" alt="Gold Rose Oudh 100 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/goldrose_grande.jpeg?v=1486576078" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/gold-rose-oudh-extrait-de-parfum-100ml-by-tiziana-terenzi" title="Gold Rose Oudh 100 ml Extrait De Parfum by Tiziana Terenzi">Gold Rose Oudh 100 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's Gold Rose Oudh Extrait De Parfum is inspired by the mysterious solitude and wilderness of a fire in the desert. This warm, seductive and enveloping scent is infused with luscious rose, amber accords and the opulent, deep sensual notes of oud.</span></div>
<div><span color="#000000" style="color: #000000;"></span></div>
<div></div>
<div></div>
<div>
<strong>Notes:</strong> Rare and exotic woods, Bulgarian rose, amber, honey, oud.</div>
<div>3.38 fl oz/100ml</div></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658494920" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30260348616">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658494920", {"id":8658494920,"title":"Gold Rose Oudh 100 ml Extrait De Parfum by Tiziana Terenzi","handle":"gold-rose-oudh-extrait-de-parfum-100ml-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Gold Rose Oudh Extrait De Parfum is inspired by the mysterious solitude and wilderness of a fire in the desert. This warm, seductive and enveloping scent is infused with luscious rose, amber accords and the opulent, deep sensual notes of oud.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e Rare and exotic woods, Bulgarian rose, amber, honey, oud.\u003c\/div\u003e\r\u003cdiv\u003e3.38 fl oz\/100ml\u003c\/div\u003e","published_at":"2017-02-08T12:44:00-05:00","created_at":"2017-02-08T12:47:56-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Feminine","Fragrance","Masculine","Perfume","Tiziana Terenzi","Unisex"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30260348616,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":null,"requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Gold Rose Oudh 100 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741972249"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/goldrose.jpeg?v=1486576078"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/goldrose.jpeg?v=1486576078","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Gold Rose Oudh Extrait De Parfum is inspired by the mysterious solitude and wilderness of a fire in the desert. This warm, seductive and enveloping scent is infused with luscious rose, amber accords and the opulent, deep sensual notes of oud.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e Rare and exotic woods, Bulgarian rose, amber, honey, oud.\u003c\/div\u003e\r\u003cdiv\u003e3.38 fl oz\/100ml\u003c\/div\u003e"} );
    });
  });

  </script>
</div>


{% comment %}
        Below is modal content for Ecstacy
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658534024" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/ecstacy_grande.jpeg?v=1486576455" class="img-responsive owl-lazy" alt="Ecstasy 100 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/ecstacy_grande.jpeg?v=1486576455" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/ecstasy-extrait-de-parfum-100ml-by-tiziana-terenzi" title="Ecstasy 100 ml Extrait De Parfum by Tiziana Terenzi">Ecstasy 100 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's Ecstasy Extrait De Parfum is a mystical fragrance, intense with a strong personality. Opening with rich frankincense, Ecstasy warms up with the creaminess of white flowers and unfolds with the rich intensity and depth of bakur and oud.</span></div>
<div></div>
<div>Notes: frankincense, jasmine, sandalwood, bakur, oud.</div>
<span>3.38åÊ</span><span>fl oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658534024" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30260872456">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658534024", {"id":8658534024,"title":"Ecstasy 100 ml Extrait De Parfum by Tiziana Terenzi","handle":"ecstasy-extrait-de-parfum-100ml-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Ecstasy Extrait De Parfum is a mystical fragrance, intense with a strong personality. Opening with rich frankincense, Ecstasy warms up with the creaminess of white flowers and unfolds with the rich intensity and depth of bakur and oud.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003eNotes: frankincense, jasmine, sandalwood, bakur, oud.\u003c\/div\u003e\r\u003cspan\u003e3.38åÊ\u003c\/span\u003e\u003cspan\u003efl oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T12:52:00-05:00","created_at":"2017-02-08T12:54:14-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Feminine","Fragrance","Masculine","Perfume","Tiziana Terenzi","Unisex"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30260872456,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":null,"requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Ecstasy 100 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741952203"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/ecstacy.jpeg?v=1486576455"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/ecstacy.jpeg?v=1486576455","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Ecstasy Extrait De Parfum is a mystical fragrance, intense with a strong personality. Opening with rich frankincense, Ecstasy warms up with the creaminess of white flowers and unfolds with the rich intensity and depth of bakur and oud.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003eNotes: frankincense, jasmine, sandalwood, bakur, oud.\u003c\/div\u003e\r\u003cspan\u003e3.38åÊ\u003c\/span\u003e\u003cspan\u003efl oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>



{% comment %}
        Below is modal content for White Fire
{% endcomment %}


<div class="modal quick-view" id="productQuickView-8658640840" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/whitefire_grande.jpeg?v=1486577217" class="img-responsive owl-lazy" alt="White Fire 100 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/whitefire_grande.jpeg?v=1486577217" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/white-fire-100-ml-extrait-de-parfum-by-tiziana-terenzi" title="White Fire 100 ml Extrait De Parfum by Tiziana Terenzi">White Fire 100 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's White Fire Extrait De Parfum evokes the silence of white snow, the cold air of high mountains. Inspired by a solitary trekking trip on the Dolomites on the Italian Alps, this bright energizing fragrance is pure beauty.</span></div>
<div><span color="#000000" style="color: #000000;"></span></div>
<div>
<strong>Notes:</strong> fir, jasmine, bergamot, white amber, fresh ice, oxygen.</div>
<span>3.38 fl oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658640840" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30261949320">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658640840", {"id":8658640840,"title":"White Fire 100 ml Extrait De Parfum by Tiziana Terenzi","handle":"white-fire-100-ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's White Fire Extrait De Parfum evokes the silence of white snow, the cold air of high mountains. Inspired by a solitary trekking trip on the Dolomites on the Italian Alps, this bright energizing fragrance is pure beauty.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e fir, jasmine, bergamot, white amber, fresh ice, oxygen.\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T13:01:00-05:00","created_at":"2017-02-08T13:06:56-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30261949320,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"White Fire 100 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741962202"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/whitefire.jpeg?v=1486577217"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/whitefire.jpeg?v=1486577217","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's White Fire Extrait De Parfum evokes the silence of white snow, the cold air of high mountains. Inspired by a solitary trekking trip on the Dolomites on the Italian Alps, this bright energizing fragrance is pure beauty.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e fir, jasmine, bergamot, white amber, fresh ice, oxygen.\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>


{% comment %}
        Below is modal content for XIX March
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658691016" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/xixmarch_grande.jpeg?v=1486577611" class="img-responsive owl-lazy" alt="XIX March 100ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/xixmarch_grande.jpeg?v=1486577611" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/xix-march-100ml-extrait-de-parfum-by-tiziana-terenzi" title="XIX March 100ml Extrait De Parfum by Tiziana Terenzi">XIX March 100ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's XIX March Extrait De Parfum is a fresh, citrus and green woods scent. Like a gentleman's cologne, this is Spring awakening with a touch of Winter.</span></div>
<div></div>
<div>
<strong>Notes:</strong> pink grapefruit, mandarin, orange blossom, pine, spruce, green leaves, sandalwood, birch.</div>
<div><span color="#000000" style="color: #000000;">&nbsp;</span></div>
<span>3.38 fl oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658691016" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30262470536">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658691016", {"id":8658691016,"title":"XIX March 100ml Extrait De Parfum by Tiziana Terenzi","handle":"xix-march-100ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's XIX March Extrait De Parfum is a fresh, citrus and green woods scent. Like a gentleman's cologne, this is Spring awakening with a touch of Winter.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e pink grapefruit, mandarin, orange blossom, pine, spruce, green leaves, sandalwood, birch.\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T13:07:00-05:00","created_at":"2017-02-08T13:13:30-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30262470536,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"XIX March 100ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741972201"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/xixmarch.jpeg?v=1486577611"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/xixmarch.jpeg?v=1486577611","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's XIX March Extrait De Parfum is a fresh, citrus and green woods scent. Like a gentleman's cologne, this is Spring awakening with a touch of Winter.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e pink grapefruit, mandarin, orange blossom, pine, spruce, green leaves, sandalwood, birch.\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>

{% comment %}
        Below is modal content for Lillpur
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658713352" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/lillipur_grande.jpeg?v=1486577953" class="img-responsive owl-lazy" alt="Lillipur 100ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/lillipur_grande.jpeg?v=1486577953" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/lillipur-100ml-extrait-de-parfum-by-tiziana-terenzi" title="Lillipur 100ml Extrait De Parfum by Tiziana Terenzi">Lillipur 100ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's Lillipur Extrait De Parfum evokes the mystical fire of the soul. This transportative, balsamic fragrance opens with soft gourmand notes and exotic spices and is enveloped by velvety Oman incense and rare woods.</span></div>
<div></div>
<div>
<strong>Notes:</strong> oman incense, star anise, sichuan pepper, opoponax, lebanon cedar, amber.</div>
<div><span>&nbsp;</span></div>
<span>3.38 fl oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658713352" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30262877768">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658713352", {"id":8658713352,"title":"Lillipur 100ml Extrait De Parfum by Tiziana Terenzi","handle":"lillipur-100ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Lillipur Extrait De Parfum evokes the mystical fire of the soul. This transportative, balsamic fragrance opens with soft gourmand notes and exotic spices and is enveloped by velvety Oman incense and rare woods.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e oman incense, star anise, sichuan pepper, opoponax, lebanon cedar, amber.\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T13:17:00-05:00","created_at":"2017-02-08T13:19:12-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30262877768,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Lillipur 100ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741122323"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/lillipur.jpeg?v=1486577953"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/lillipur.jpeg?v=1486577953","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Lillipur Extrait De Parfum evokes the mystical fire of the soul. This transportative, balsamic fragrance opens with soft gourmand notes and exotic spices and is enveloped by velvety Oman incense and rare woods.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e oman incense, star anise, sichuan pepper, opoponax, lebanon cedar, amber.\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>


{% comment %}
        Below is modal content for Maremma
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658720200" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/maremma_grande.jpeg?v=1486578064" class="img-responsive owl-lazy" alt="Maremma 100 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/maremma_grande.jpeg?v=1486578064" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/maremma-100-ml-extrait-de-parfum-by-tiziana-terenzi" title="Maremma 100 ml Extrait De Parfum by Tiziana Terenzi">Maremma 100 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's Maremma Extrait De Parfum is as rich, bold, animalic fragrance filled with fruity and aromatic notes native to the Maremma Mediterranean landscape. It is infused with robust leathery and deep resinous woody tones.</span></div>
<div></div>
<div>
<strong>Notes:</strong>&nbsp;red berries, orris root, jasmine, cocoa powder, amber, labdanum, patchouli, rosewood.</div>
<span>3.38 f</span><span>l oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658720200" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30262984456">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658720200", {"id":8658720200,"title":"Maremma 100 ml Extrait De Parfum by Tiziana Terenzi","handle":"maremma-100-ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Maremma Extrait De Parfum is as rich, bold, animalic fragrance filled with fruity and aromatic notes native to the Maremma Mediterranean landscape. It is infused with robust leathery and deep resinous woody tones.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e red berries, orris root, jasmine, cocoa powder, amber, labdanum, patchouli, rosewood.\u003c\/div\u003e\n\u003cspan\u003e3.38 f\u003c\/span\u003e\u003cspan\u003el oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T13:19:00-05:00","created_at":"2017-02-08T13:21:02-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30262984456,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Maremma 100 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741132322"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/maremma.jpeg?v=1486578064"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/maremma.jpeg?v=1486578064","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Maremma Extrait De Parfum is as rich, bold, animalic fragrance filled with fruity and aromatic notes native to the Maremma Mediterranean landscape. It is infused with robust leathery and deep resinous woody tones.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e red berries, orris root, jasmine, cocoa powder, amber, labdanum, patchouli, rosewood.\u003c\/div\u003e\n\u003cspan\u003e3.38 f\u003c\/span\u003e\u003cspan\u003el oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>


{% comment %}
        Below is modal content for Arethusa
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658739400" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/arethusa_grande.jpeg?v=1486578363" class="img-responsive owl-lazy" alt="Arethusa 100 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/arethusa_grande.jpeg?v=1486578363" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/arethusa-100-ml-extrait-de-parfum-by-tiziana-terenzi" title="Arethusa 100 ml Extrait De Parfum by Tiziana Terenzi">Arethusa 100 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">A sparkling floral citrus, Tiziana Terenzi's Arethusa Extrait de Parfum is evocative of a white sand beach in Sicily, the ancient temples surrounding it, the refreshing scent of orange groves and the brightness of the sun in the Italian Summer.</span></div>
<div></div>
<div>
<strong>Notes:</strong> orange blossoms, fig, pink grapefruit, jasmine, salt, sand.</div>
<div><span color="#000000" style="color: #000000;">åÊ</span></div>
<div><span color="#000000" style="color: #000000;">3.38 fl oz/100ml</span></div></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658739400" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30263308680">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658739400", {"id":8658739400,"title":"Arethusa 100 ml Extrait De Parfum by Tiziana Terenzi","handle":"arethusa-100-ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eA sparkling floral citrus, Tiziana Terenzi's Arethusa Extrait de Parfum is evocative of a white sand beach in Sicily, the ancient temples surrounding it, the refreshing scent of orange groves and the brightness of the sun in the Italian Summer.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e orange blossoms, fig, pink grapefruit, jasmine, salt, sand.\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eåÊ\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e3.38 fl oz\/100ml\u003c\/span\u003e\u003c\/div\u003e","published_at":"2017-02-08T13:21:00-05:00","created_at":"2017-02-08T13:26:02-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Feminine","Fragrance","Masculine","Perfume","Tiziana Terenzi","Unisex"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30263308680,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":null,"requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Arethusa 100 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":null}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/arethusa.jpeg?v=1486578363"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/arethusa.jpeg?v=1486578363","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eA sparkling floral citrus, Tiziana Terenzi's Arethusa Extrait de Parfum is evocative of a white sand beach in Sicily, the ancient temples surrounding it, the refreshing scent of orange groves and the brightness of the sun in the Italian Summer.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e orange blossoms, fig, pink grapefruit, jasmine, salt, sand.\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eåÊ\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e3.38 fl oz\/100ml\u003c\/span\u003e\u003c\/div\u003e"} );
    });
  });

  </script>
</div>



{% comment %}
        Below is modal content for Laudano Nero
{% endcomment %}

<div class="modal quick-view" id="productQuickView-8658752968" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/nero_grande.jpeg?v=1486578593" class="img-responsive owl-lazy" alt="Laudano Nero 100ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/nero_grande.jpeg?v=1486578593" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/laudano-nero-100ml-extrait-de-parfum-by-tiziana-terenzi" title="Laudano Nero 100ml Extrait De Parfum by Tiziana Terenzi">Laudano Nero 100ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Tiziana Terenzi's Laudano Nero Extrait De Parfum is inspired by Paris in Fall on a rainy evening. A powerful blend of rich labdanum, decadent cognac notes and enigmatic agarwood infuses this full-body, complex and darkly sensuous fragrance.</span></div>
<div></div>
<div>
<strong>Notes:</strong> labdanum, cognac, sandalwood, iris, musk, frankincense, agarwood.</div>
<div></div>
<span>3.38 fl oz/100ml</span></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658752968" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30263519304">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658752968", {"id":8658752968,"title":"Laudano Nero 100ml Extrait De Parfum by Tiziana Terenzi","handle":"laudano-nero-100ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Laudano Nero Extrait De Parfum is inspired by Paris in Fall on a rainy evening. A powerful blend of rich labdanum, decadent cognac notes and enigmatic agarwood infuses this full-body, complex and darkly sensuous fragrance.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e labdanum, cognac, sandalwood, iris, musk, frankincense, agarwood.\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e","published_at":"2017-02-08T13:26:00-05:00","created_at":"2017-02-08T13:29:52-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30263519304,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Laudano Nero 100ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741002397"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/nero.jpeg?v=1486578593"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/nero.jpeg?v=1486578593","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eTiziana Terenzi's Laudano Nero Extrait De Parfum is inspired by Paris in Fall on a rainy evening. A powerful blend of rich labdanum, decadent cognac notes and enigmatic agarwood infuses this full-body, complex and darkly sensuous fragrance.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cstrong\u003eNotes:\u003c\/strong\u003e labdanum, cognac, sandalwood, iris, musk, frankincense, agarwood.\u003c\/div\u003e\n\u003cdiv\u003e\u003c\/div\u003e\n\u003cspan\u003e3.38 fl oz\/100ml\u003c\/span\u003e"} );
    });
  });

  </script>
</div>




{% comment %}
        Below is modal content for Kirké
{% endcomment %}


<div class="modal quick-view" id="productQuickView-8658759688" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/kirke_grande.jpeg?v=1486578697" class="img-responsive owl-lazy" alt="Kirkè 100ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/kirke_grande.jpeg?v=1486578697" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/kirke-100ml-extrait-de-parfum-by-tiziana-terenzi" title="Kirkè 100ml Extrait De Parfum by Tiziana Terenzi">Kirkè 100ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Like one of the famous enchanted potions of Goddess Circe, this extract is nectareous and mysterious. Infused with a lush bouquet of sweet fruit including passion fruit, raspberries and pears, Kirke's juicy scent is warmed by the sweet, indulgent heliotrope flower and a sensual base of musk.</span></div>
<div><span></span></div>
<div>
<span><strong>Notes:</strong> passion fruit, raspberry, pear, peach, sandalwood,&nbsp;black currant</span><span>, lily of the valley, heliotrope, vanilla, sandalwood, musk.</span>
</div>
<div><span color="#000000" style="color: #000000;">&nbsp;</span></div>
<div><span color="#000000" style="color: #000000;">3.4 fl oz/100ml</span></div></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658759688" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30263643272">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658759688", {"id":8658759688,"title":"Kirkè 100ml Extrait De Parfum by Tiziana Terenzi","handle":"kirke-100ml-extrait-de-parfum-by-tiziana-terenzi","description":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eLike one of the famous enchanted potions of Goddess Circe, this extract is nectareous and mysterious. Infused with a lush bouquet of sweet fruit including passion fruit, raspberries and pears, Kirke's juicy scent is warmed by the sweet, indulgent heliotrope flower and a sensual base of musk.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cspan\u003e\u003cstrong\u003eNotes:\u003c\/strong\u003e passion fruit, raspberry, pear, peach, sandalwood, black currant\u003c\/span\u003e\u003cspan\u003e, lily of the valley, heliotrope, vanilla, sandalwood, musk.\u003c\/span\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e3.4 fl oz\/100ml\u003c\/span\u003e\u003c\/div\u003e","published_at":"2017-02-08T13:30:00-05:00","created_at":"2017-02-08T13:31:36-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Fragrance","Men","Perfume","Tiziana Terenzi","Unisex","Women"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30263643272,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Kirkè 100ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741072482"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/kirke.jpeg?v=1486578697"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/kirke.jpeg?v=1486578697","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eLike one of the famous enchanted potions of Goddess Circe, this extract is nectareous and mysterious. Infused with a lush bouquet of sweet fruit including passion fruit, raspberries and pears, Kirke's juicy scent is warmed by the sweet, indulgent heliotrope flower and a sensual base of musk.\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan\u003e\u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\n\u003cspan\u003e\u003cstrong\u003eNotes:\u003c\/strong\u003e passion fruit, raspberry, pear, peach, sandalwood, black currant\u003c\/span\u003e\u003cspan\u003e, lily of the valley, heliotrope, vanilla, sandalwood, musk.\u003c\/span\u003e\n\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e \u003c\/span\u003e\u003c\/div\u003e\n\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e3.4 fl oz\/100ml\u003c\/span\u003e\u003c\/div\u003e"} );
    });
  });

  </script>
</div>




{% comment %}
        Below is modal content for Al Contrario
{% endcomment %}


<div class="modal quick-view" id="productQuickView-8658767048" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="zoom-close" data-dismiss="modal" aria-label="Close"> <i class="fa fa-times"></i> </button>      
        <div class="container-fluid">
          <div class="row">
            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <div class="col-sm-6">
                
                            
                  <div class=" col-sm-12 ">
                    <div class="quick-product-photo-container owl-carousel owl-theme owl-loaded">
                      
                      
                      
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 542px;"><div class="owl-item active" style="width: 542px; margin-right: 0px;"><div><img data-src="//cdn.shopify.com/s/files/1/1765/8667/products/al_grande.jpeg?v=1486578803" class="img-responsive owl-lazy" alt="Al Contrario 50 ml Extrait De Parfum by Tiziana Terenzi" src="//cdn.shopify.com/s/files/1/1765/8667/products/al_grande.jpeg?v=1486578803" style="opacity: 1;"></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div></div></div></div>
                  </div>
                
              </div>

              <div class="col-sm-6 product-details">
                <h2 class="product-name"><a href="/collections/tiziana-terenzi-collection/products/al-contrario-50ml-extrait-de-parfum" title="Al Contrario 50 ml Extrait De Parfum by Tiziana Terenzi">Al Contrario 50 ml Extrait De Parfum by Tiziana Terenzi</a></h2>
                
                
                
                <h2 itemprop="brand" class="brand"><a href="/collections/vendors?q=Tiziana%20Terenzi" title="">Tiziana Terenzi</a></h2>

                <div id="product-price-wrap" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="delta">
                    
                    
                    <span id="ProductPrice" class="product-price money" itemprop="price">$165.00</span>
                    
                </div>

                <div itemprop="description" class="quick-description rte"><meta charset="utf-8">
<div><span color="#000000" style="color: #000000;">Graceful yet profound, this fragrance reflects the provocative presence of select wood, like ebony in which it is rooted, and is rounded with richly sweet gourmand notes. Al Contrario is a journey for those who come back, then are once again ready to depart on the quest that life offers every day through its daily wonders.</span></div>
<div></div>
<div>
<strong>Notes:</strong> malt, ebony wood, vanilla, cocoa bean, cane sugar, orchids, sandalwood, benzoin, hazelnut.</div>
<div><span color="#000000" style="color: #000000;">åÊ</span></div>
<div><span color="#000000" style="color: #000000;">1.7 fl oz/50ml</span></div></div>

                
                

                <div id="product-variants" style="display:none" class=" hidden">
                  <select id="product-select-8658767048" name="id" class="form-control single-option-selector" style="display: none;">
                  
                    <option selected="" value="30263759432">
                    Default Title - $165.00
                    </option>
                  
                  </select>
                </div> 

                       
                       
                <div id="backorder" class="hidden">
                  <p><span id="selected-variant"></span> is back-ordered. We will ship it separately in 10 to 15 days.</p>
                </div>

                <div id="quantity-section">
                  <label for="Quantity" class="quantity-selector swatch-title">Quantity:</label>
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="input-group quantity-group">
                        <span class="input-group-btn">
                          <button class="btn  btn-minus" type="button">-</button>
                        </span>

                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="form-control quantity-selector quantity-box" placeholder="Qty.">

                        <span class="input-group-btn">
                          <button class="btn btn-plus " type="button">+</button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  </div><!-- /.row -->
                </div>

                <div id="product-add">
                  <button name="add" id="AddToCart" class="btn btn-default btn-large"><span id="AddToCartText">Add to Cart</span></button>
                </div>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
  jQuery(function($) {
    jQuery(document).ready(function() {
      jQuery.data( document.body, "product-8658767048", {"id":8658767048,"title":"Al Contrario 50 ml Extrait De Parfum by Tiziana Terenzi","handle":"al-contrario-50ml-extrait-de-parfum","description":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eGraceful yet profound, this fragrance reflects the provocative presence of select wood, like ebony in which it is rooted, and is rounded with richly sweet gourmand notes. Al Contrario is a journey for those who come back, then are once again ready to depart on the quest that life offers every day through its daily wonders.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e malt, ebony wood, vanilla, cocoa bean, cane sugar, orchids, sandalwood, benzoin, hazelnut.\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eåÊ\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e1.7 fl oz\/50ml\u003c\/span\u003e\u003c\/div\u003e","published_at":"2017-02-08T13:31:00-05:00","created_at":"2017-02-08T13:33:22-05:00","vendor":"Tiziana Terenzi","type":"Perfume","tags":["Cologne","EDP","Feminine","Fragrance","Masculine","Perfume","Tiziana Terenzi","Unisex"],"price":16500,"price_min":16500,"price_max":16500,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":30263759432,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":null,"requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Al Contrario 50 ml Extrait De Parfum by Tiziana Terenzi","public_title":null,"options":["Default Title"],"price":16500,"weight":0,"compare_at_price":null,"inventory_quantity":1,"inventory_management":null,"inventory_policy":"deny","barcode":"8016741082481"}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/al.jpeg?v=1486578803"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/1765\/8667\/products\/al.jpeg?v=1486578803","options":["Title"],"content":"\u003cmeta charset=\"utf-8\"\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eGraceful yet profound, this fragrance reflects the provocative presence of select wood, like ebony in which it is rooted, and is rounded with richly sweet gourmand notes. Al Contrario is a journey for those who come back, then are once again ready to depart on the quest that life offers every day through its daily wonders.\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003c\/div\u003e\r\u003cdiv\u003e\r\u003cstrong\u003eNotes:\u003c\/strong\u003e malt, ebony wood, vanilla, cocoa bean, cane sugar, orchids, sandalwood, benzoin, hazelnut.\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003eåÊ\u003c\/span\u003e\u003c\/div\u003e\r\u003cdiv\u003e\u003cspan color=\"#000000\" style=\"color: #000000;\"\u003e1.7 fl oz\/50ml\u003c\/span\u003e\u003c\/div\u003e"} );
    });
  });

  </script>
</div>


